body {
  background-color: hsl(0, 0%, 98%);
  font-size: 15px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h3 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
}

p {
  color: hsl(229, 6%, 66%);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: hsl(180, 62%, 55%);
}
a:hover {
  color: hsl(0, 78%, 62%);
}

.top-div {
  width: 50%;
  margin: 30px auto 0 auto;
}

.top-heading {
  color: hsl(234, 12%, 34%);
  font-weight: 200;
}

.second-heading {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
}

.top-description {
  width: 70%;
  margin: auto;
}

.card-div {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.supervisor {
  grid-row: 2/4;
  grid-column: 1;
  border-top: 3px solid hsl(180, 62%, 55%);
  border-radius: 5px;
  height: 230px;
  width: 350px;
  box-shadow: 0px 5px 10px hsl(229, 6%, 66%);
  margin: auto 0 auto auto;
}

.supervisor2 {
  margin: 10px 15px;
  text-align: left;
}

.supervisor-img {
  float: right;
}

.team-builder-img {
  float: right;
}

.karma-img {
  float: right;
}

.calculator-img {
  float: right;
}

.team-builder {
  grid-row: 1/3;
  grid-column: 2;
  margin: 1.5rem auto;
  border-top: 3px solid hsl(0, 78%, 62%);
  border-radius: 5px;
  height: 230px;
  width: 350px;
  box-shadow: 0px 5px 10px hsl(229, 6%, 66%);
}

.team-builder2 {
  margin: 10px 15px;
  text-align: left;
}

.karma {
  grid-row: 3/5;
  grid-column: 2;
  margin: auto;
  border-top: 3px solid hsl(34, 97%, 64%);
  border-radius: 5px;
  height: 230px;
  width: 350px;
  box-shadow: 0px 5px 10px hsl(229, 6%, 66%);
}

.karma2 {
  margin: 10px 15px;
  text-align: left;
}

.calculator {
  grid-row: 2/4;
  grid-column: 3;
  border-top: 3px solid hsl(212, 86%, 64%);
  border-radius: 5px;
  height: 230px;
  width: 350px;
  box-shadow: 0px 5px 10px hsl(229, 6%, 66%);
  margin: auto auto auto 0;
}

.calculator2 {
  margin: 10px 15px;
  text-align: left;
}
